<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bs.regsystemapi.dao.LogDao">
    <resultMap id="testMap" type="com.bs.regsystemapi.entity.Log">

    </resultMap>

    <sql id="baseColumns">
        id, log_no, action, create_name, create_time, user_type, status, effect_table,
        effect_nos
    </sql>

    <select id="getLogList" parameterType="com.bs.regsystemapi.modal.dto.log.QueryLogForm" resultType="com.bs.regsystemapi.entity.Log">
        select <include refid="baseColumns"></include>
        from log
        <where>
            1 = 1
            <if test="createName != null">
                and create_name like concat('%', #{createName}, '%')
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
        order by create_time desc
    </select>

</mapper>