<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bs.regsystemapi.dao.PreviewDao">
    <resultMap id="testMap" type="com.bs.regsystemapi.entity.Preview">

    </resultMap>

    <sql id="baseColumns">
        id, preview_no, preview_title, preview_link, preview_image, begin_time, end_time, create_name,
        create_time, update_name, update_time, is_delete, show_model, is_valid
    </sql>

    <select id="getPreviewList" parameterType="com.bs.regsystemapi.modal.dto.preview.QueryPreviewForm" resultType="com.bs.regsystemapi.entity.Preview">
        select <include refid="baseColumns"></include>
        from preview
        <where>
            is_delete = '1'
            <if test="previewTitle != null">
                and preview_title like concat('%', #{previewTitle}, '%')
            </if>
            <if test="showModel != null">
                and show_model = #{showModel}
            </if>
            <if test="createName != null">
                and create_name like concat('%', #{createName}, '%')
            </if>
            <if test="beginTime != null">
                and begin_time &lt; #{beginTime}
            </if>
            <if test="endTime != null">
                and end_time &gt; #{endTime}
            </if>
        </where>
        order by update_time desc
    </select>

    <select id="getPCPreview" resultType="com.bs.regsystemapi.entity.Preview">
        select <include refid="baseColumns"></include>
        from preview
        where is_delete = '1' and is_valid = '1' and show_model = 'PC'
    </select>

    <select id="getAPPPreview" resultType="com.bs.regsystemapi.entity.Preview">
        select <include refid="baseColumns"></include>
        from preview
        where is_delete = '1' and is_valid = '1' and show_model = 'APP'
    </select>

    <select id="getPreviewInfo" parameterType="java.lang.String" resultType="com.bs.regsystemapi.entity.Preview">
        select <include refid="baseColumns"></include>
        from preview
        where is_delete = '1' and preview_no = #{previewNo}
    </select>

    <update id="deletePreview" parameterType="java.lang.String">
        update preview
        set is_delete = '0'
        where preview_no = #{previewNo}
    </update>

    <update id="recoverPreview" parameterType="java.lang.String">
        update preview
        set is_delete = '1'
        where preview_no = #{previewNo}
    </update>
</mapper>